<!-- Show comments -->

<% @article.comments.each do |c| %>
	<p>
		<strong>Comment:</strong>
		<%= c.body %>
	
  		<%= link_to 'Delete', article_comment_path(@article, c),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>