<!-- Head
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :head do %>

<% end %>
<!-- Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :header do %>  

  <%= render 'layouts/header' %>

<% end %>
<!-- Twelve Columns
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :twelve do %>
  
  <section class="section">
    <%= render 'aform' %>  
  </section>

<% end %>
<!-- Contents
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :content do %>
<% end %>
<!-- Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :misc do %>

  

<% end %>




